/* Custom Button Rules (for Sidebar) */
.custom-btn a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 35px;
  font-weight: bold;

  text-decoration: none;
  color: white;
  border: 2px solid white;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.custom-btn a span {
  position: relative;
  z-index: 2;
}

.custom-btn a:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all 0.35s;
}

.custom-btn a:hover {
  color: black;
}

.custom-btn a:hover:after {
  width: 100%;
}

.custom-submit-btn a {
  border: 1px solid white;
}

.custom-submit-btn a:after {
  left: 0;
  right: initial;
}
