/* Fade in animation upon page load */
.about-btn,
.projects-btn,
.skills-btn,
.contact-btn,
.intro-text,
.scrolldown-indicator {
  opacity: 0;
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

.intro-text {
  animation-delay: 0.4s;
}

.scrolldown-indicator {
  animation-delay: 1s;
}

.about-btn {
  animation-delay: 0.7s;
}

.projects-btn {
  animation-delay: 0.9s;
}

.skills-btn {
  animation-delay: 1.1s;
}

.contact-btn {
  animation-delay: 1.3s;
}

/* Fade in animation upon scroll down */
.fade-in {
  animation: fadein 0.4s;
  animation-fill-mode: forwards;
}

/* Fade out animation upon return to initial position */
.fade-out {
  animation: fadeout 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    pointer-events: auto;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
