body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* TODO: FIX 100VH ASAP */
main {
  grid-area: 1 / 2 / 7 / 4;
  overflow: auto;
  height: 100vh;
  scroll-behavior: smooth;
}

.sidebar {
  grid-area: 1 / 1 / 7 / 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
