body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* TODO: FIX 100VH ASAP */
main {
  grid-area: 1 / 2 / 7 / 4;
  overflow: auto;
  /* height: 100vh; */
  scroll-behavior: smooth;
}

section {
  width: 85%;
}

.sidebar {
  grid-area: 1 / 1 / 7 / 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.sidebar .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar .custom-btn {
  position: relative;
}

.intro-text {
  width: 80%;
}

.about-text {
  width: 65%;
}

.project-grid {
  margin-left: 0.5rem;
}

.skill-list {
  padding-left: 0;
  width: 90%;
}

/* Laptops */
@media only screen and (max-width: 1292px) {
  .intro-text {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 1040px) {
  .intro-text {
    font-size: 2.3rem;
  }
}

/* Tablets */
@media only screen and (max-width: 62em) {
  body {
    display: block;
  }

  .sidebar {
    display: none;
  }

  main {
    /* height: auto; */
    /* width: 90%; */
  }

  section {
    width: 90%;
  }

  .intro {
    /* height: 100vh; */
  }

  .intro-text {
    font-size: 2rem;
    width: 100%;
  }

  .about-text {
    width: 80%;
  }

  .project-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .project-card {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }

  .skill-list {
    width: 100%;
  }
}

/* Mobile */
@media only screen and (max-width: 36em) {
  .intro-text {
    font-size: 1.5rem;
  }

  main {
    /* margin-left: 1rem; */
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

  .about-text {
    width: 100%;
  }

  .project-card {
    width: 100%;
  }
}
