/* Inside of modal */
.custom-modal {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 700px;
  padding: 0;
  animation: modal-fadein 0.4s;
  display: none;
}

/* Outside of modal */
.custom-modal::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

/* Fade in animation for modal when opened */
@keyframes modal-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade out animation for modal when closed */
@keyframes modal-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Helper class for fade out animation */
.modal-fadeout {
  animation: modal-fadeout 0.3s;
  animation-fill-mode: forwards;
}

/* Modal content (to let user close the modal when clicking outside) */
.custom-modal-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Modal Header (on top, contains close icon)  */
.custom-modal-header {
  text-align: right;
  padding: 0.2rem;
}

/* Close icon */
.custom-modal-close {
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
    brightness(104%) contrast(101%);
}

/* External Link icon */
.custom-modal-external {
  position: relative;
  top: -1px;
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
    brightness(104%) contrast(101%);
}

/* Github icon */
.custom-modal-github {
  position: relative;
  top: -1px;
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.4rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
    brightness(104%) contrast(101%);
}

/* Modal Picture */
.custom-modal-img {
  width: 100%;
  height: 300px;
  background-image: url("../images/project1.png");
  background-size: cover;
}
.custom-modal-img2 {
  width: 100%;
  height: 300px;
  background-image: url("../images/project2.png");
  background-size: cover;
}
.custom-modal-img3 {
  width: 100%;
  height: 300px;
  background-image: url("../images/project3.png");
  background-size: cover;
}

/* Modal Text */
.custom-modal-text {
  padding: 1rem;
}

.custom-modal-title {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.custom-modal-tools {
  font-weight: bold;
  word-spacing: 0.4rem;
  margin-bottom: 0.5rem;
  color: gray;
}

.custom-modal-description {
  margin-bottom: 0;
}

/* Modal Links */
.custom-modal-links {
  list-style: none;
  padding-left: 1rem;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
}

.custom-modal-links li a {
  height: 2rem;
  margin-bottom: 0.8rem;
  display: inline-flex;
  align-items: center;
}

.custom-modal-links li a:hover {
  color: black;
}

.modal-demo {
  color: white;
  font-weight: bold;
  margin-right: 1.5rem;
  text-decoration: none;
}

.modal-source {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* Hover States for Icons/Links */
@media (hover: hover) {
  .custom-modal-close:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(47%) sepia(22%) saturate(1814%)
      hue-rotate(313deg) brightness(94%) contrast(96%);
  }

  .modal-demo:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(85%) sepia(19%) saturate(3225%)
      hue-rotate(329deg) brightness(101%) contrast(99%);
  }

  .modal-source:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(84%) sepia(16%) saturate(6076%)
      hue-rotate(153deg) brightness(106%) contrast(87%);
  }
}
