/* Inside of modal */
.custom-modal {
  background-color: black;
  color: white;
  /* border-radius: 0.5rem; */
  height: 70vh;
  width: 70vw;
  padding: 0;
  /* animation: modal-fadein 0.3s; */
  /* z-index: 999; */
  display: none;
}

/* Outside of modal */
.custom-modal::backdrop {
  background: rgb(0 0 0 / 0.7);
}

/* Fade in animation for modal when opened */
@keyframes modal-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal content (to let user close the modal when clicking outside) */
.custom-modal-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0); */
}

/* Modal Header (on top, contains close icon)  */
.custom-modal-header {
  text-align: right;
  padding: 0.5rem 0.5rem;
}

/* Close icon */
.custom-modal-close {
  width: 1.3rem;
  height: 1.3rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(307deg)
    brightness(104%) contrast(101%);
}

.custom-modal-close:hover {
  cursor: pointer;
  filter: invert(79%) sepia(0%) saturate(9%) hue-rotate(191deg) brightness(88%)
    contrast(85%);
}
