/* Card Pictures */
.card1-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.884)),
    url("../images/lakbay1.png");
}

.card1-img:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.781)
    ),
    url("../images/lakbay1.png");
}

.card2-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.884)),
    url("../images/easyreader2.png");
}

.card2-img:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.781)
    ),
    url("../images/easyreader2.png");
}

.card3-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.884)),
    url("../images/aerialcare1.png");
}

.card3-img:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.781)
    ),
    url("../images/aerialcare1.png");
}

.card4-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.884)),
    url("../images/know1.png");
}

.card4-img:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.781)
    ),
    url("../images/know1.png");
}

.card5-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.884)),
    url("../images/notalone2.png");
}

.card5-img:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.781)
    ),
    url("../images/notalone2.png");
}

/* Modal Picture */
.custom-modal1-img1 {
  width: 100%;
  height: 300px;
  background-image: url("../images/lakbay1.png");
  background-size: cover;
}
.custom-modal1-img2 {
  width: 100%;
  height: 300px;
  background-image: url("../images/lakbay2.png");
  background-size: cover;
}
.custom-modal1-img3 {
  width: 100%;
  height: 300px;
  background-image: url("../images/lakbay3.png");
  background-size: cover;
}
.custom-modal1-img4 {
  width: 100%;
  height: 300px;
  background-image: url("../images/lakbay4.png");
  background-size: cover;
}

.custom-modal2-img1 {
  width: 100%;
  height: 300px;
  background-image: url("../images/easyreader2.png");
  background-size: cover;
}
.custom-modal2-img2 {
  width: 100%;
  height: 300px;
  background-image: url("../images/easyreader1.png");
  background-size: cover;
}
.custom-modal2-img3 {
  width: 100%;
  height: 300px;
  background-image: url("../images/easyreader3.png");
  background-size: cover;
}

.custom-modal3-img1 {
  width: 100%;
  height: 300px;
  background-image: url("../images/aerialcare1.png");
  background-size: cover;
}
.custom-modal3-img2 {
  width: 100%;
  height: 300px;
  background-image: url("../images/aerialcare2.png");
  background-size: cover;
}
.custom-modal3-img3 {
  width: 100%;
  height: 300px;
  background-image: url("../images/aerialcare3.png");
  background-size: cover;
}

.custom-modal4-img1 {
  width: 100%;
  height: 300px;
  background-image: url("../images/know1.png");
  background-size: cover;
}
.custom-modal4-img2 {
  width: 100%;
  height: 300px;
  background-image: url("../images/know2.png");
  background-size: cover;
}
.custom-modal4-img3 {
  width: 100%;
  height: 300px;
  background-image: url("../images/know4.png");
  background-size: cover;
}
.custom-modal4-img4 {
  width: 100%;
  height: 300px;
  background-image: url("../images/know3.png");
  background-size: cover;
}

.custom-modal5-img1 {
  width: 100%;
  height: 300px;
  background-image: url("../images/notalone2.png");
  background-size: cover;
}
.custom-modal5-img2 {
  width: 100%;
  height: 300px;
  background-image: url("../images/notalone1.png");
  background-size: cover;
}
.custom-modal5-img3 {
  width: 100%;
  height: 300px;
  background-image: url("../images/notalone3.png");
  background-size: cover;
}
.custom-modal5-img4 {
  width: 100%;
  height: 300px;
  background-image: url("../images/notalone4.png");
  background-size: cover;
}