*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

section {
  padding-top: 7.5rem;
  margin-bottom: 5rem;
}

section h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: gray;
  margin-bottom: 1.5rem;
}

/* Sidebar */

.random-div {
  height: 200px;
  width: 230px;
  display: none;
}

.social-links {
  display: none;
  position: relative;
  height: 200px;
  width: 300px;
  padding-top: 3rem;
  padding-left: 0;
  list-style: none;
  opacity: 0;
}

.social-links li {
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  text-align: right;
}

.social-links li a {
  color: gray;
  text-decoration: none;
  /* pointer-events: none; */
}

.social-links li a:hover {
  color: white;
}

.resume {
  margin-top: 2rem;
  font-weight: bold;
}

.sidebar .sidebar-btns {
  position: relative;
  justify-content: flex-end;
}

.sidebar .custom-btn {
  width: 200px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.sidebar .custom-btn:last-child {
  margin-bottom: 0;
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 0;
  margin-bottom: 0;
}

.intro-text {
  font-size: 3rem;
  font-weight: bold;
}

/* Projects */

.project1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.884)),
    url("../images/project1.png");
}

.project1:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.781)
    ),
    url("../images/project1.png");
}

/* Skills */

.skill-list {
  list-style: none;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill i {
  font-size: 4rem;
  padding-bottom: 0.5rem;
}

.skill-name {
  font-weight: bold;
}

/* Contact Form */

.contact {
  padding-top: 6rem;
  margin-bottom: 10rem;
}

.custom-form {
  background-color: transparent !important;
  color: white !important;
  font-size: 1.25rem;
  border-radius: 0 !important;
}

.custom-form:focus {
  box-shadow: none !important;
  border-color: white !important;
}
