*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

section {
  padding-top: 4rem;
  margin-bottom: 8rem;
}

section h2 {
  font-weight: bold;
  color: gray;
  margin-bottom: 2rem;
}

/* Sidebar */

.sidebar .custom-btn {
  width: 200px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.sidebar .custom-btn:last-child {
  margin-bottom: 0;
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 0;
  margin-bottom: 0;
}

.intro-text {
  font-size: 3rem;
  font-weight: bold;
}

/* Projects */

.project1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.884)),
    url("../images/project1.png");
}

.project1:hover {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.781)
    ),
    url("../images/project1.png");
}
